 <div class="box">
	<article class="media">
	  <div class="media-content">
	    <div class="content">
	    <p>
	      <strong><%= comment.name %>: </strong>
	      	<p style="font-size:17px"><%= Rinku.auto_link(comment.comment).html_safe %></p>

	     </p>
	 </div>
	</div>
			<% if current_user == @post.user %>

	<%= link_to 'Eliminar', [comment.post, comment], method: :delete, class: "button is-danger", data: { confirm: "Are you sure?" } %>
	<% end %>
</article>
</div>  