<% content_for :page_title, "All Posts" %>

	<section class="section">
	  <div class="container">
		<% @posts.each do |post| %>
		  <div class="card">
		  	<div class="card-content">
		  	   <div class="media">
		  	   	  <div class="media content">
		  	   	  	<p class="title is-4"> <%= link_to post.title, post %></p>
		  	   	  </div>
		  	   	</div>
		  	   	<div class="content">
		  	   		<%= post.content %>
		  	   	</div>
		  	   	<div class="media content">
		  	   		<span class="tag is-rounded"><p class="title is-6">Por: <%= post.user.email %></p></span>
		  	   	</div>
		  	   </div>
		  	</div>
		  <% end %>
		 </div>
		</section>

